@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
    --primary: rgb(255, 40, 0);
    --primaryBG: rgb(42, 42, 42);
}

body
{
    background-color: var(--primaryBG);
}

main
{
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 80px;
}

/* Homepage */
.home
{
    min-height: calc(100vh - 80px);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;

}

.home>div
{
    padding: 40px;
    color: white;
}

.home h1
{
    font-size: 30px;
    padding: 30px;
    text-align: center;
}

.home h2
{
    font-size: 26px;
    padding: 26px;
}

.home h3
{
    font-size: 22px;
    padding: 22px;
    text-align: center;
    text-decoration: underline;
}

.home h4
{
    font-size: 18px;
    font-weight: bold;
    padding: 18px;
}

.home p
{
    padding: 5px 18px;
    text-align: justify;
}

.header,
.footer
{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    height: 80px;
    z-index: 10;
    position: fixed;
}

/* header nav links styling */
.navLinks
{
    width: calc(100% - 240px);
    max-width: 1200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.navLink
{
    text-decoration: none;
    position: relative;
}

.navLink::after
{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    /* Adjust this color as needed */
    transition: width 0.3s ease-in-out;
    /* Transition for underline width */
}

.navLink:hover::after,
.navLink.active::after
{
    width: 100%;
    /* Full underline on hover and active */
}