@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
    --primary: #ff2800;
    --primaryBG: #1b1b1b;
}

body
{
    background-color: var(--primaryBG);
}

main
{
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 120px;
}

/* Homepage */
.home
{
    min-height: calc(100vh - 200px);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    color: white;
}

.home>div:nth-child(1)
{
    display: flex;
    flex-flow: row wrap-reverse;
    align-items: center;
    justify-content: center;
}

.home>div:nth-child(1)>div
{
    flex: 1;
    min-width: 350px;
    padding: 20px;
}

@keyframes BGRotate
{
    0%
    {
        background-position: -10% 110%, 0px center;
    }

    100%
    {
        background-position: 95% 0%, 0px center;
    }
}

.home h1
{
    font-size: clamp(50px, 5vw, 100px);
    padding: 25px;
    text-align: center;
}

.home h2
{
    font-size: clamp(40px, 4vw, 80px);
    padding: 20px;
}

.home h3
{
    font-size: 22px;
    padding: 22px;
    text-align: center;
    text-decoration: underline;
}

.home h4
{
    font-size: clamp(20px, 2vw, 40px);
    padding: 10px;
}

.home p
{
    padding: 5px 18px;
    text-align: justify;
}

.footer
{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    height: 80px;
    z-index: 10;
    position: fixed;
}